*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ******** RESET ******** */


body{
    font-family: sans-serif;
    background: linear-gradient(to top, #d7dbd7 80%, #009688 80%, #009688 100%);
    height: 100vh;
    overflow-y: hidden;
}

.fa-solid{
    cursor: pointer;
}

.container{
    width: 1100px;
    height: 650px;
    margin-top: 100px;
}


#app {
    border-radius: 60px !important; 
}


/* ******** SEZIONE SIDEBAR ******** */
.sidebar{
    min-width: 400px;
    background-color: white;
}

.user-info, .main-chat-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
    height: 70px;
    width: 100%;
}

/* **** USER LOG **** */
.user-log img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-log span{
    font-size: 22px;
    font-weight: bold;
}


/* **** USER ICON **** */
.user-icon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    opacity: .5;
}


/* **** ALERT **** */
.alert{
    background-color: #8edafc;
    height: 60px;
    padding: 10px!important;
}

.icon-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.alert .fa-bell-slash{
    font-size: 1.5em;
    color: #8edafc;
}

.alertmessage span:last-child{
    text-decoration: underline;
    opacity: .5;
    margin: 10px 0;
}


/* **** SEARCH BAR **** */
.input-group{
    min-height: 46px;
    padding: 10px!important;
}

/* **** CHAT CONTAINER **** */
.chat-container{
    height: calc(100% - 70px - 60px - 46px);
    padding: 10px 10px 20px;
}

.contact{
    height: 50px;
    display: flex;
    padding: 5px 0;

    position: relative;
}

.contact img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.last-message{
    font-size: 12px;
}

.last-message-time{
    position: absolute;
    top: 5px;
    right: 10px;
}


/* ******** SEZIONE MAIN ******** */
.main-container{
    width: 700px;
    height: 650px;
    background-image: url(/img/mine.jpg);

    display: flex;
    flex-direction: column;
}


/* **** MAIN TOP BAR **** */
.chat-info span:first-child{
    font-size: 22px;
    font-weight: bold;
}

.user-pic{
    width: 50px;
    height: auto;
}

.chat-info span:last-child{
    opacity: .5;
}


/* **** MAIN CHAT BOX **** */
.chat-box{
    height: 530px;
    padding: 20px;
    overflow-x: hidden;
}

.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.message small{
    align-self: flex-end;
}


/* **** MESSAGE STYLES **** */
.message{
    display: flex;
    flex-direction: column;
}

.message.received{
    background-color: white;
    align-self: flex-start;
}

.message.sent{
    background-color: #d4fabb;
    align-self: flex-end;
}

.message small{
    justify-content: flex-end;
}


/* **** BONUS DROPDOWN **** */
.dropdown.message{
    position: absolute;
    top: 0;
    right: 5px;
}

.message .dropdown {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.message:hover .dropdown {
    visibility: visible;
    opacity: 1;
}


/* **** BOTTOM BAR **** */
#message-bar{
    background-color: #f3eeea;
    height: 50px;
}

#message-bar button,
#message-bar .dropdown .fa-face-smile {
    background-color: transparent;
    border: transparent;

    padding: 0 38px;

    cursor: pointer;

    font-size: 1.4em;
    color: #6b7376;
    max-width: 93px;
}

#message-bar input {
    flex-grow: 1;

    padding: 20px 15px;

    border: transparent;
    border-radius: 6px;
    height: 40px;
}

#message-bar .fa-microphone:active{
    color: red;
    opacity: .7;
    transition: .3s ease-in-out;
}

#message-bar .fa-face-smile:first-of-type:hover{
    color: green;
}