<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE-BOOLZAPP</title>

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- style css -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">

        <div class="container d-flex">
            <div class="sidebar">
                <div class="user-info">
                    <div class="user-log">
                        <img src="img/avatar_2.jpg" alt="foto profilo">
                        <span>Alberto</span>
                    </div>
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="alert d-flex p-1 gap-2 rounded-0 mb-0">
                    <span class="d-flex justify-content-center align-items-center icon-box">
                        <i class="fa-solid fa-bell-slash p-1"></i>
                    </span>
                    <div class="alertmessage">
                        <span>Ricevi notifiche di nuovi messaggi</span><br>
                        <span>Attiva le notifiche desktop</span>
                    </div>
                </div>
                <div class="search-bar d-flex justify-content-center ">
                    <input type="text" placeholder="Cerca...">
                </div>
                <div class="chat-container d-flex flex-column gap-2">
                    <div v-for="(contact, index) in contacts" :key="index" class="contact" role="button" @click="openChat(index)">
                        <img :src="contact.avatar" alt="">
                        <div class="contact-info">
                            <span>{{ contact.name }}</span><br>
                            <span class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</span>
                        </div>
                        <div class="last-message-time">12:00</div>
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="main-chat-info">
                    <div>
                        <img class="user-pic" :src="contacts.avatar" alt="immagine Michele">
                        <div class="user-name">{{ contacts.name }}</div>
                        <div class="last-message d-inline "><small>Ultimo accesso alle</small></div>
                        <span class="last-access"><small>12:00</small></span>
                    </div>
                    <div class="user-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="chat-box d-flex flex-column" v-if="currentChat !== null">
                    <div 
                        v-for="message in contacts[currentChat].messages" 
                        :key="message.date" 
                        :class="`message ${message.status}`"
                    >
                        <p class="mb-0">{{ message.message }}</p>
                        <small style="font-size: 12px;">{{ message.date }}</small>
                    </div>
                </div>
                <div id="message-bar" class="w-100 d-flex">
                    <button>
                        <i class="fa-regular fa-face-smile"></i>
                    </button>

                    <input type="text" placeholder="Scrivi messaggio">

                    <button>
                        <i class="fa-solid fa-microphone"></i>
                    </button>
                </div>  
                

            </div>
        </div>

    </div>

    <!-- importazione della libreria Vue -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- JS -->
    <script src="./js/script.js"></script>

    <!-- link bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>